.nav_bar {
  padding: 15px 30px;
  font-weight: 600;
}

.logo {
  font-size: 28px;
}

.nav_bar ul {
  gap: 20px;
}

.nav_bar li {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  font-size: 18px;
}

.nav_bar ul li:hover {
  color: var(--clrs-blue-light-);
}

/* 
Media Queries BreakPoints : 
  - 320px — 480px: Mobile devices
  - 481px — 768px: iPads, Tablets
  - 769px — 1024px: Small screens, laptops
  - 1025px — 1200px: Desktops, large screens
  - 1201px and more —  Extra large screens, TV
*/

@media (max-width: 481px) {
}
