.coin-cards{
    width: 400px;
    background-color: #bbe1fa;
    height: 200px;
    border-radius: 15px;
    padding: 20px;
}
.coin-buttons{    
    background-color: #0F4C75;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    color: white;
}
.coin-requests-view{
    flex-wrap: wrap;
    width: 100%;
    padding: 50px;
    gap: 20px;
}