.primary-bg {
  background-color: #3282b8;
}

.secondary-bg {
  background-color: #1b262c;
}

.light-blue-bg {
  background-color: #bbe1fa;
}

.dark-blue-bg {
  background-color: #0f4c75;
}

.white-bg {
  background-color: #fff;
}

.primary-text {
  color: #3282b8;
}

.secondary-text {
  color: #1b262c;
}

.dark-blue-text {
  color: #0f4c75;
}

.light-blue-text {
  color: #bbe1fa;
}

.white-text {
  color: #fff;
}

.red-text {
  color: #b60000;
}
