.primary-bg {
    background-color: #fff;
}

.secondary-bg {
    background-color: #fff;
}

.white-bg {
    background-color: #fff;
}

.primary-text {
    color: #fff;
}
  
.secondary-text {
    color: #fff;
}

.white-text {
    color: #fff;
}

.red-text{
    color: #b60000;
}