.overlay {
  background-color: rgba(1, 40, 66, 0.4) !important;
}

.hero__section__bg {
  background-image: url(https://images.unsplash.com/photo-1494756739853-38af58aa9dd0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHN1YndheSUyMHN0YXRpb25zfGVufDB8fDB8fHww);
  background-size: cover;
  min-height: 100vh;
}

.hero__section__content {
  z-index: 30;
  color: red;
}
