.map_container_section {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 25px;
  padding: 15px 20px;
}

/* Map */
.map_live_container {
  background-color: green;
  border-radius: 6px;
}

#map {
  height: 180px;
}

.leaflet-container {
  border-radius: 4px;
}
