.side-bar {
  min-height: 100vh;
  width: 25%;
  flex-grow: 1;
  
}
.ul-side-bar {
  padding: 30px;
  font-size: 36px;
  font-family: 'Rubik', sans-serif;
  color: white;
}
.ul-side-bar li:hover {
  color: #3282b8;
}
