
.admin-dashboard{
width: 75%;
}
.dashboard-buttons{
    width: 100%;
    height: 15%;
   
}
.dashboard-buttons > button{
    background-color: #BBE1FA;
    height: 50px;
    width: 125px;
    border-radius: 5px;
}